.userprofile{
    width:100%;
    padding: 64px 5%;
}
.left-side{
    padding: 2%;
}

.main-profile{
    position: relative;
    height:80vh;

}
.main-avatar{
    position: absolute;
    top:40%;
    left:43%;
}
.main-portada{
    height: 50%;
    background: #01bcd4;
}
.main-texto{
    padding-top: 7%;
    text-align: center;
}
.right-side{
    padding: 2%;
}

.last-post{
    height: 35vh;
    overflow-y: scroll;
}